IV_CACHE_MAX_MB=1 #4096
IV_CACHE_MIN_KEEP_FILES=10 #1000
# USGS_API_KEY=...

# Ollama
OLLAMA_BASE_URL=http://xxxxxxx:xxxxx

# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx
OPENAI_BASE_URL=https://api.openai.com

